#name-enter{
  cursor: pointer
}

#start-game{
  cursor: pointer
}

#game-cell-template-html div{
  display: none;
  height :50px;
  width: 50px;
}

#game-block{
  position: absolute;
  -webkit-box-shadow:inset 1px 1px 5px 2px #A3A3A3;
  box-shadow:inset 1px 1px 5px 2px #A3A3A3;
  line-height: 0;
  top : 100px;
}
.game-cell-template{
  margin : 0;
  -webkit-box-shadow:inset 1px 1px 5px 2px #A3A3A3;
  box-shadow:inset 1px 1px 5px 2px #A3A3A3;
  display: inline-block;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
  
#waiting{
  display: none;
}

.long-start-box{
  height: 31% !important;
}

#start-box{
  padding: 10px;
  z-index: 2;
  position: absolute;
  top : 150px;
  width:16%;
  height: 20%;
  left:42%;
  background-color: white; 
}



#background-overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity:0.1;
}

#playername-input-field{
  display: block;
  margin: 15px;
  height: 24px;
  padding: 5px;
  margin-left: 31px;
  font-size: 16px;
  width: 126px;
}

#name-enter, #start-game{
  border: 1px solid #e6e6e6;
  text-align: center;
  display: block;
  width: 75px;
  padding: 6px 8px;
  margin-left: 53px;
}
#name-enter:hover, #start-game:hover {
  background-color: #e6e6e6;
}

#lock{
  display: none;
  z-index: 3;
  position: absolute;
  top : 150px;
  width:50%;
  height: 60%;
  left:25%;
  background-color: white;
}

#score-board{
  position: fixed;
  top:10px;
  right:10px;
}
